.home > * {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}


.card {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

p {
    font-size: 18px;
    color: #333;
}

.anim_gradient {
    background: linear-gradient(132deg, #F4D03F  0%, #16A085 100%);
    background-size: 200% 200%;
    animation : gradient 25s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container button {
    background-color: #16A085; /* Echo the gradient end color */
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #F4D03F;
}